{% extends 'base.html' %}
{% load static %}

{% block title %}صفحه اصلی{% endblock %}

{% block body %}

    <img src="/media/{{ article.thumbnail }}" alt="عکس لود نشد" id="thumbnail">
    <h2>{{ article.title }}</h2>
    <p>Writing by : {{ article.author }}</p>
    <p>{{ article.date }}</p>
    <p>{{ article.body }}</p>

    <form action="" method="post" id="comment_form">
    {{ commentForm }}
    {% csrf_token %}
    <button class="button">Send</button>
    </form>

    {% for comment in comments %}
        {% if article.id == comment.article_id and comment.active %}
        <p>{{ comment.name }}</p>
        <p>{{ comment.date }}</p>
        <p>{{ comment.body }}</p>
        {% endif %}
    {% endfor %}
{% endblock %}
