h1{
    color: red;
}
#first-image{
    width: 53%  ;

}
#parent-img{
    position: relative;
    text-align: right;
}

#back{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    width: 90%;
    height:auto;
    min-height: 1000px;
    margin:20px 0;
    border-radius:20px;
    box-shadow: 1px 5px 15px grey;
    max-width: 1000px;
    padding-bottom: 10px ;
    top: 50px;
}
#header{
    display: flex;
    flex-wrap: wrap;
}
#imag1{
    width: 100px;
    height: 500px;
    color: red;
}

.bio{
    width: calc(50% - 50px);
    border-radius: 3px;
    margin: 20px 20px;
    padding: 10px;
    height: auto;
    background-color: #56d3cd;
    text-align: justify;
    text-justify: inter-word;
}

#header{

}
#bio-sit-box{
    right: 100px;
    margin-left: 10px;
}
#bio-python-box{
    left: 100px;
    margin-right: 10px;
}
body{
    background-attachment: fixed;
    height: 100%;
    padding-top: 47px;
    width: 100%;
    background: #348F50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #348F50, #56B4D3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #348F50, #56B4D3);
}
.articlesBox{
    width: calc(33% - 20px);
    height: auto;
    margin: 0 10px;
    overflow: hidden;
    box-shadow: 2px 3px 10px #808080;
    padding-bottom: 10px;
}

.articlesImage{
    width: 100%;
}
.articlesDate{
    padding-left: 5px;
    margin: 5px 0 10px 10px;
    font-size: 10px;
    opacity: 60%;
}
.articlesTitle{
    padding: 5px 0 0 5px;
    margin: 10px 0 0 10px;
}
.articlesAuthor{
    font-size: 12px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.articlesDescription{
    padding-left: 10px;

}
#content{
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 800px){
    .bio{
        width: calc(100% - 50px);
        height: auto;
    }
    .articlesBox{
        width: calc(50% - 20px);
    }

}
@media (max-width: 500px){
    .articlesBox{
        width: calc(100% - 20px);
    }
}
.articlesBox{
    width: calc(33% - 20px);
    height: auto;
    margin: 0 10px;
    overflow: hidden;
    box-shadow: 2px 3px 10px #808080;
    padding-bottom: 10px;
}

.articlesImage{
    width: 100%;
}
.articlesDate{
    padding-left: 5px;
    margin: 5px 0 10px 10px;
    font-size: 10px;
    opacity: 60%;
}
.articlesTitle{
    padding: 5px 0 0 5px;
    margin: 10px 0 0 10px;
}
.articlesAuthor{
    font-size: 12px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.articlesDescription{
    padding-left: 10px;

}
#content{
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 800px){
    .bio{
        width: calc(100% - 50px);
        height: auto;
    }
    .articlesBox{
        width: calc(50% - 20px);
    }

}
@media (max-width: 500px){
    .articlesBox{
        width: calc(100% - 20px);
    }
}