{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block header %}{% endblock %}
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/154bbbe058.js" crossorigin="anonymous"></script>
    <title>
    {% block title %}
    {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<div id="content">
<div id="menus">
    <ul class="horizontal">
      <li>
          <a class="active" href="{% url 'home' %}"><i class="fas fa-home"></i></a>
      </li>
      <li>
          <a href="{% url 'articles:list' %}">Article</a>
      </li>
      <li>
          <a href="{% url 'about' %}">About</a>
      </li>
      {% if user.is_authenticated %}
          <a href="{% url 'users:dashboard' %}" id="logoIcon"><img src="/media/298756-512.png" alt="DASHBOARD"></a>
       <a href="{% url 'articles:create' %}">Writing Article</a>
          <form action="{% url 'users:logout' %}" method="post" id="logout_button">
          <button type="submit">Logout</button>
          {% csrf_token %}
          </form>
      {% else %}
      <a href="{% url 'users:login' %}">Login</a>
      <a href="{% url 'users:signup' %}">Signup</a>
      {% endif %}

    </ul>

</div>
{% block body %}
{% endblock %}
</div>
</body>
</html>