<div id="home-background">
{% extends 'base.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block title %}HOME{% endblock %}


{% block body %}
    <div id="background">
    </div>
    <div id="back-parent">
        <div id="back">
            <header>
                <div id="header"></div>
            </header>

            <div id="bio-python-box" class="bio position-in-back"></div>
            <div id="bio-sit-box" class="bio position-in-back"></div>
        </div>
    </div>


{% endblock %}
</div>
