<div id="home-background">
{% extends 'base.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block title %}HOME{% endblock %}


{% block body %}
    <div id="background">
    </div>
    <div id="back-parent">
        <div id="back">
            <header>
                <div id="header">
                    <div id="bio-python-box" class="bio position-in-back">
                        <h1>python</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos eaque explicabo laborum. Ad consequatur deleniti dolores labore laboriosam natus non nostrum obcaecati, qui voluptas? Illo labore magnam magni reiciendis sint.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos eaque explicabo laborum. Ad consequatur deleniti dolores labore laboriosam natus non nostrum obcaecati, qui voluptas? Illo labore magnam magni reiciendis sint.</p>
                    </div>
                    <div id="bio-sit-box" class="bio position-in-back">
                        <h1>python site</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum cumque eaque facilis libero magni quo sunt velit, voluptatem? Accusamus debitis, delectus laboriosam magnam mollitia odit officia repudiandae soluta ullam voluptatem.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum cumque eaque facilis libero magni quo sunt velit, voluptatem? Accusamus debitis, delectus laboriosam magnam mollitia odit officia repudiandae soluta ullam voluptatem.</p>
                    </div>
                </div>
            </header>


        </div>
    </div>


{% endblock %}
</div>
