{% extends 'base.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block title %}صفحه اصلی{% endblock %}


{% block body %}
<h1>hi</h1>

{#    <h1>صفحه اصلی</h1>#}
{##}
{#    {% for article in articles %}#}
{#    <div class="article">#}
{#    <img src="/media/{{ article.thumbnail }}" alt="عکس لود نشد" class="article_image">#}
{#    <h3><a href="articles/{{ article.slug }}">{{ article.title }}</a></h3>#}
{#    <p>{{ article.description }}</p>#}
{#    </div>#}
{#    {% endfor %}#}
{% endblock %}
