{% load  static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div><a href="{% url 'home' %}">Home</a></div>
    <div><a href="{% url 'users:detail' %}">my details</a></div>
    <div><a href="{% url 'articles:create' %}">Writing article</a></div>
    <script src="{% static 'dashboard.js' %}"></script>
</body>
</html>