<div id="background-login">
{% extends 'base.html' %}

{% block title %}login{% endblock %}

{% block body %}
    <div id="parent-login-box">
        <div id="login-box">
            <h1 id="login">login</h1>
            <form action="{% url 'users:login'%}" class="form_logandsing" method="post" style="
                text-align: left;
                top: 50%;
                position: relative;
                transform: translateY(-50%);">
            {% csrf_token %}
            {{ form }}
            <button type="submit" >login</button>
            </form>
        </div>
    </div>

{% endblock %}
 </div>